
  .comptrendu{
    direction: rtl;
    width: 90%;
    height: 150%;
    margin: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 1.3em;
    direction: rtl;
    padding-right: 5%;
    box-sizing: border-box;
  }
  .titre{
    text-align: center;
    padding: 5%;
  }
  .side{
    line-height: 1.25;
   display: contents;

  }
  .side p{
    display: inline;
  }
  .comptrendu img{
    width: 10%;
    position: absolute;
    right: 48%;
    bottom: 42%;
    padding: 0;
    margin: 0;

  }
  .num{
    padding-top: 5%;
    width: 50%;

  }
  .info{
    width: 50%;
    float: inline-end;
    position: relative;
    bottom: 2.7%;
    right: 70%;
  }
  .dj{
    border: black;
    width: 50%;
    float: inline-end;
    position: relative;
    bottom: 16%;
    right: 18%;
  }


  .to{
    clear: both;
    position: relative;
    top: 3%;
    right: 30%;
    width: 30%;
    text-align: center;
  }
  .sub{
    clear: both;
    position: relative;
    top: 5%;
  }

  h1{
    text-align: center;
    color: #8ECAE6;
  }
  textarea{
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    padding: 2%;
  }


  .ordree03{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  button:not(.envoi button,.not button,.but){
    width: 70%;
    border: 1.6px;
    height: 3em;
    padding: 0.5em;
    border-radius: 15px;
  }
  button:hover:not(.envoi button ,.not button,.but){
    background-color: #8ECAE6;
    color: white;
  }
